#bio{
    background-color:chartreuse;
    font-size:30px;
    font-family:cursive;
    color:black;
}
body{
    text-align:center;
    font-family:cursive;
    font-size:30px;
    color:black;
    background:linear-gradient(#e534eb 0%, #eb7d34 100% )

    
}
.menu { list-style: none; position: fixed; top: 10px; right: 30px; cursor: pointer; z-index: 10; 
    
}
.links { float: left; color: fuchsia; padding-top: 5px; padding-left: 9px; padding-right: 9px; padding-bottom: 5px; font-family: fantasy; font-size: 20px }
.links:hover{
    background-color:darkorange;
     color:fuchsia;
}
#my favourite habby{
    background-color:aqua;
     color:fuchsia;
}
#my inspiration{
    background-color:blue;
     color:fuchsia;
}
#my favorite cartoon{
    background-color:crimson;
     color:fuchsia;
}
#my favorite food{
    background-color:darkorchid;
     color:fuchsia;
}
#my birthday{
    background-color:coral;
     color:fuchsia; 
}
img{
    height:400px;
    width:500px;
}